.info_section {
    background-color: #0a2050;
    color: #ffffff;
    padding: 40px 0 75px 0;
    font-family: "Open Sans",
   sans-serif;
  }
  
  .info_section .row > div {
    margin-top: 35px;
  }
  
  .info_section h5 {
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .info_time p {
    text-transform: uppercase;
  }
  
  .info_form input {
    width: 100%;
    border: none;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
  }
  
  .info_form button {
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 45px;
    /* background-color: #e7d619; */
    background-color: #e55593;
    color: #0a2050;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* border: 1px solid #e7d619; */
    border: 1px solid #e55593;
    border-radius: 0;
  }
  
  .info_form button:hover {
    background-color: transparent;
    /* color: #e7d619; */
    color: #e55593;
  }
  
  .info_social .social_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .info_social .social_container a {
    margin: 0 5px;
  }
  
  .info_social .social_container a img {
    width: 35px;
  }
  
  .info_contact > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
  }
  
  .info_contact > div img {
    height: auto;
    margin-right: 12px;
  }
  
  .info_contact > div p {
    margin: 0;
  }