.layout_padding-top {
    padding-top: 120px;
  }

  .contact_section {
    position: relative;
  }
  
  .contact_section .form_container {
    padding: 0 35px;
  }
  
  .contact_section form {
    margin-top: 45px;
  }
  
  .contact_section input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: #ebebeb;
    outline: none;
    color: #101010;
  }
  
  .contact_section select {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: #ebebeb;
    outline: none;
    color: #101010;
  }
  
  .contact_section input::-webkit-input-placeholder {
    color: #979696;
  }
  
  .contact_section input:-ms-input-placeholder {
    color: #979696;
  }
  
  .contact_section input::-ms-input-placeholder {
    color: #979696;
  }
  
  .contact_section input::placeholder {
    color: #979696;
  }
  
  .contact_section input.message-box {
    height: 120px;
  }
  
  .contact_section button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #e55593;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #e55593;
    border-radius: 0;
    color: #fff;
    margin-top: 35px;
  }
  
  .contact_section button:hover {
    background-color: transparent;
    color: #e55593;
  }
  
  .contact_section .map_container {
    height: 725px;
    border-radius: 100% 0 0 0;
    overflow: hidden;
    margin-left: 45px;
  }
  
  .contact_section .map_container .map-responsive {
    height: 100%;
  }